.site-header {
    border-bottom: 2px solid $gray;
}

.site-title {
    font-size: 3em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    &:hover {
        text-decoration: underline;
    }
}

.site-nav {
    padding: 1em 0;
    font-size: 1.2em;
    font-weight: bold;
    
    &__item {
        margin-right: 1em;
        padding: .15em .7em;
        background-color: $black;
        color: #fff;
        &:hover {
            background-color: $gray;
            color: #fff;

        }
    }
}