.text-black {
    color: $black;
}

.text-gray {
    color: $gray;
}

.bg-black {
    background-color: $black;
}

.bg-gray {
    background-color: $gray;
}

.italic {
    font-style: italic;
}

.bold {
    font-style: bold;
}

.underlined {
    text-decoration: underline;
}

.icon {

    &--twitter {
        color: $twitter-color;
    }

    &--facebook {
        color: $facebook-color;
    }

    &--instagram {
        color: $gray;
    }

}