.site-body {
    max-width: 990px;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
}

.main {
    overflow: hidden;
    padding-bottom: 4em;
}

.row {
    overflow: hidden;
}

.col--left {
    width: 70%;
    float: left;
}

.col--right {
    padding-top: 1em;
    width: 23%;
    float: right;
}

@include breakpoint(medium) {
    .col--left,
    .col--right {
        display: block;
        width: 100%;
    }
}

.pagination {
    overflow: hidden;
    
    &__item {

        font-size: 1.2em;
        &:hover {
            text-decoration: underline;
        }

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }

    }
}