---
layout: default
title: About Me
---

<section class="main-content about-me">

    <h1>{{ page.title }}</h1>

    <section class="row about-me__info">

        <div class="about-me__photo col--right">
            <img src="{{ '/assets/images/image-100x150.png' | relative_url }}" alt="">
        </div>

        <div class="about-me__info-text col--left">
            <h3>Information content</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ex mollitia quas ad ratione sunt magnam? Ipsa delectus, quod alias tempore dolores repellat non vitae aspernatur nostrum, sed optio voluptas.</p>
            <p>
                <i class="fa fa-skype" aria-hidden="true"></i> <a class="sidebar__link" href="">Skype</a>
            </p>
            <p>
                <i class="fa fa-phone-square" aria-hidden="true"></i> <a class="sidebar__link" href="">3232321</a>
            </p>
            <p>
                <i class="fa fa-telegram" aria-hidden="true"></i> <a class="sidebar__link" href="">Telegram</a>
            </p>
        </div>

    </section>

    {% include cv.html %}

    {% include block.html %}

</section>