{% if paginator.total_pages > 1 %}
    <section class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="previous {{ site.paginate }} posts" class="pagination__item pagination__item--left">
                &larr; prev {{ site.paginate }}
            </a>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="previous {{ site.paginate }} posts" class="pagination__item pagination__item--right">
                next {{ site.paginate }} &rarr;
            </a>
        {% endif %}
    </section>
{% endif %}