<aside class="sidebar col col--right">

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Sidebar heading
        </h3>
        <p class="sidebar__text">
            Lorem ipsum
        </p>
    </section>

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Get Social
        </h3>
        <p class="sidebar__text">
            <i class="fa fa-twitter-square icon--twitter" aria-hidden="true"></i> <a class="sidebar__link" href="">Twitter</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-facebook-square icon--facebook" aria-hidden="true"></i> <a class="sidebar__link" href="">Facebook</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-instagram icon--instagram" aria-hidden="true"></i> <a class="sidebar__link" href="">Instagram</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-github" aria-hidden="true"></i> <a class="sidebar__link" href="">Github</a>
        </p>
    </section>

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Tags
        </h3>
        <p class="sidebar__text">
            {% include tag-cloud.html %}
        </p>
    </section>

</aside>