<aside class="sidebar col col--right">

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Sidebar heading
        </h3>
        <p class="sidebar__text">
            Lorem ipsum
        </p>
    </section>

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Get Social
        </h3>
        <p class="sidebar__text">
            <i class="fa fa-twitter-square icon--twitter" aria-hidden="true"></i> <a class="sidebar__link" href="">Twitter</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-facebook-square icon--facebook" aria-hidden="true"></i> <a class="sidebar__link" href="">Facebook</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-instagram icon--instagram" aria-hidden="true"></i> <a class="sidebar__link" href="">Instagram</a>
        </p>
        <p class="sidebar__text">
            <i class="fa fa-github" aria-hidden="true"></i> <a class="sidebar__link" href="">Github</a>
        </p>
    </section>

    <section class="sidebar__item">
        <h3 class="sidebar__heading">
            Tags
        </h3>
        <p class="sidebar__text">
            <ul class="tag-cloud">
                <li class="tag-cloud__item">
                    <a style="font-size: 1.8em" class="tag-cloud__link" href="tag-page.html">tag1</a><span class="text-gray"> ● </span>
                </li>
                <li class="tag-cloud__item">
                    <a style="font-size: 1.4em" class="tag-cloud__link" href="tag-page.html">tag2</a><span class="text-gray"> ● </span>
                </li>
                <li class="tag-cloud__item">
                    <a style="font-size: 1.8em" class="tag-cloud__link" href="tag-page.html">tag3</a><span class="text-gray"> ● </span>
                </li>
                <li class="tag-cloud__item">
                    <a style="font-size: 1.6em" class="tag-cloud__link" href="tag-page.html">tag4</a><span class="text-gray"> ● </span>
                </li>
                <li class="tag-cloud__item">
                    <a style="font-size: 1.4em" class="tag-cloud__link" href="tag-page.html">tag5</a>
                </li>
            </ul>
        </p>
    </section>

</aside>