.article {

    &__date {
        color: $gray;
    }

    &__tags-text {
        font-weight: bold;
    }

    &__tags-list {
        display: inline-block;
        list-style: none;
        padding: 0;
    }

    &__tag {
        display: inline-block;
        font-size: 1.05em;
        padding: 0 .1em;
        a {
            color: $gray;
            &:hover {
                color: $black;
                text-decoration: underline;
            }
        }
    }

    &__content {
        font-family: 'PT Serif', serif;
        color: gray;
        font-size: 1.2em;
        line-height: 1.3em;
        a {
            text-decoration: underline;
            color: $gray;
            &:hover {
                color: $black;
            }
        }
    }

}

.article--summary {

    padding: 1em 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid lighten($gray, 50%);

    @include breakpoint(medium) {
        padding: 0;
        margin-bottom: .8em;
    }

    &__title {
        margin-bottom: 0.5em;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__date,
    &__tags-list {
        margin: .2em 0;
    }

    &__read-more {
        padding: .5em 0;
        overflow: hidden;
        &__link {
            float: right;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}