.block {

    margin-bottom: 3em;
    &:last-child {
        margin-bottom: 0;
    }
    @include breakpoint(medium){
        margin-bottom: 1.5em;
    }

    h1,
    h2,
    h3 {
        padding-bottom: 0.5em;
        border-bottom: 2px solid $black;
    }

}